body{
	background-image:url(../picture/login.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
  background-color:336611;
}
tr{
height:30px;
}
td,table,tr{
 
}
table{
width:100%;
}
.two{
width:50px;
}
.three{
	
	text-align: center;
}
